.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    gap: 1rem;
  }
  
  button:hover {
    opacity: 1;
  }
  
  .login-btn {
    background-color: var(--primary-color);
    margin: 1rem 0;
    border: none;
    cursor: pointer;
    width: 8rem;
    opacity: 0.9;
    padding: 1rem 1rem 1rem 1rem;
  }
  
  .anchor-btn {
    text-decoration: none;
    color: var(--white);
  }
  
