.icon{
    margin-right: 1rem;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.cart-wrapper{
    display: flex;
    gap: 5rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.horizontal-card{
    border: 1px solid var(--secondary-color);
    height: 18rem;
}

.qty-btn{
    margin: .5rem;
}

.inc-btn{
    margin-right: 1rem;
    text-align: center;
    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    background: transparent;
    border: .1rem solid var(--primary-color);
    font-size: 1rem;
}

.dec-btn{
    margin-left: 1rem;
    text-align: center;
    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    background: transparent;
    border: .1rem solid var(--primary-color);
    font-size: 1rem;
}

.qty-text{
    text-align: center;
}

.card-pricing{
   display: flex;
}
.card-details{
    margin-top: .1rem;
}

.price{
    color: var(--sub-heading);
    font-size: 1rem;
    margin-top: .5rem;
    margin-left: .5rem;
}

.discount{
    margin-bottom: .5rem;
    color: var(--secondary-color);
    text-align: center;
    font-size: 1rem;
    margin-right: 7.5rem;
}

/*Price Details Card*/

.price-details{
    width: 20rem;
    border: 1px solid var(--secondary-color);
}

.price-heading{
    padding: .5rem;
    border-bottom: 1px solid var(--secondary-color);
}
.product-details{
    display: flex;
    justify-content: space-between;
    padding: .7rem;

}

.save-amount{
    padding: 1rem;
}

.cart-btn{
    background-color: var(--primary-color);
}

