* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.banner > img {
  width: 100%;
  height: 20rem;
}

.btn-container {
  display: flex;
  gap: 2rem;
  position: absolute;
}

.shop-now-btn {
  cursor: pointer;
  padding: 0.3rem;
  background-color: var(--primary-color);
  border: 1px solid var(--white);
  border-radius: 8px;
  transition: all 0.5s;
  font: "Roboto";
  font-size: 1rem;
  color: var(--white);
}

.shop-now-btn:hover {
  background-color: var(--btn-hover);
  color: var(--primary-color);
}

.home-heading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.3rem;
  border-bottom: 1px solid var(--subheading);
  width: 20vmax;
  padding: 1vmax;
  margin: 3vmax auto;
  color: var(--secondary-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.horizontal-card {
  box-shadow: 0.5rem 0.4rem 0.4rem 0.3rem var(--shadow-color);
}

.card-description {
  margin-top: 1rem;
  width: 14rem;
}

.brand-image {
  width: 6.5rem;
  height: 2.5rem;
}

.discount-details {
  color: var(--secondary-color);
  margin-left: 0.5rem;
}

@media screen and (max-width: 750px) {
  .banner::after {
    display: none;
  }

  .banner > img {
    height: 15rem;
  }

  .shop-now-btn {
    font-size: 0.7rem;
  }

  .horizontal-card {
    height: 6rem;
  }

  .brand-image {
    width: 4rem;
    height: 2rem;
  }
}
