* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.banner > img {
  width: 100%;
  height: 20rem;
}

.btn-container {
  display: flex;
  gap: 2rem;
  position: absolute;
}

.twin-btn {
  cursor: pointer;
  padding: 0.5rem;
  background-color: var(--primary-color);
  border: 1px solid var(--white);
  border-radius: 0;
  transition: all 0.5s;
  font: "Roboto";
  text-align: center;
  font-size: 1rem;
  margin-top: -28rem;
  color: var(--white);
}
.twin-btn:hover {
  background-color: var(--btn-hover);
  color: var(--primary-color);
}

.home-heading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid var(--subheading);
  width: 20vmax;
  padding: 1vmax;
  margin: 3vmax auto;
  color: var(--secondary-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.horizontal-card {
  box-shadow: 0.5rem 0.4rem 0.4rem 0.3rem var(--shadow-color);
}

.card-description {
  margin-top: 1rem;
  width: 14rem;
}

.brand-image-container {
  margin-top: 0.5rem;
  height: "3rem";
  margin-top: ".5rem";
}

.brand-image {
  width: "6.5rem";
  height: "2.5rem";
}

.discount-details {
  color: var(--secondary-color);
  margin-left: 0.5rem;
}

@media screen and (max-width: 750px) {
  .banner::after {
    display: none;
  }

  .banner > img {
    height: 15rem;
  }

  .banner > h1 {
    margin-top: 15rem;
    font-size: 1.7rem;
  }

  .banner > p {
    margin-top: 10rem;
    font-size: 1.2rem;
  }

  .twin-btn {
    font-size: 0.7rem;
  }
}
