:root{
    --primary-color:black;
    --secondary-color:rgba(21, 21, 21, 0.5);
    --white:white;
    --background-color:rgba(209, 209, 209, 0.993);
    --btn-hover:rgba(238, 231, 231, 0.527);
    --subheading:rgba(21, 21, 21, 0.5);
    --danger-color:red;
    --condition-color:dodgerblue;
    --hr-color:#f1f1f1;
}

.hide{
    display: none;
}

.border{
    border-bottom: 1px solid var(--secondary-color);
}

.heading{
    text-align: center;
    width: 100%;
}

/* footer */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    background-color: var(--primary-color);
    padding:2rem 1rem;
    text-align: center;
    color: var(--white);
    margin-top: 5rem;
    border-top-right-radius: 1rem;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer .link{
    color: var(--white);
}

.footer ul{
    padding-inline-start: 0px;
}

.list-non-bullet{
    list-style: none;
}

.list-items-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

.list-items-inline > a > i{
    margin-right: .3rem;
}
