.main-container{
    display: flex;
    margin: auto;
}

.products-heading{
    margin-left: 5rem;
    width: 100%;
}

.products-wrapper{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:430px){

    .products-heading{
        font-size: 1.2rem;
    }

    .products-wrapper{
        max-width: 21rem;
        height: auto;
    }
}

@media screen and (max-width:330px) {
    .products-wrapper{
        max-width: 17rem;
        height: auto;
    }
    
}
