.main-container {
  display: flex;
  margin: auto;
}

.products-heading {
  margin-left: 5rem;
  width: 100%;
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: .5rem;
}

@media screen and (max-width: 430px) {
  .products-heading {
    font-size: 1rem;
  }

  .products-wrapper {
    max-width: 21rem;
    height: auto;
  }
}

@media screen and (max-width: 330px) {
  .products-wrapper {
    max-width: 17rem;
    height: auto;
  }
}
