.auth-container {
    display: flex;
    justify-content: center;
    margin-top: 4em;
  }
  .signup-container {
    padding: 16px;
    width: 25rem;
    border: 1px solid var(--secondary-color);
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .terms-condition {
    color: var(--condition-color);
  }
  
  .clearfix {
    display: flex;
  }
  
  button:hover {
    opacity: 1;
  }
  
  .signupbtn {
    background-color: var(--primary-color);
    margin: 1rem 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    padding: 1rem 1rem 1rem 1rem;
  }
  
  .anchor-btn{
      text-decoration: none;
      color: var(--white);
  }

  .remember-me-checkbox{
    margin-bottom: .8rem;
  }
  hr {
    border: 1px solid var(--hr-color);
    margin-bottom: 25px;
  }
  
  .have-account {
    text-align: center;
  }
  
  .have-account > a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  .have-account > a:hover {
    color: var(--secondary-color);
  }
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .signupbtn {
      width: 80%;
    }
  }
  
